.hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #003366, #003366);
  color: #fff;
  text-align: center;
  padding: 0 2rem;

  /* Background */
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.content h1 {
  font-size: 3em;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.cta {
  background-color: #00AEEF;
  color: #003366;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.cta:hover {
  background-color: #0099d6;
}
